@import "tailwindcss";

@theme {
  --font-sans: Manrope, sans-serif;

  --color-primary: #010205;
  --color-secondary: #878C91;
  --color-accent: #99CF63;
}

@font-face {
  font-family: "Manrope";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Manrope-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Manrope-Bold.woff2) format("woff2");
}

.container {
  @apply 
  mx-auto 
  px-4 
  max-w-[1302px];
}

.menu {
  @apply 
  max-[1023px]:top-0 
  max-[1023px]:left-0 
  max-[1023px]:fixed 
  max-[1023px]:bg-white 
  max-[1023px]:h-full
  max-[1023px]:w-[75vw]
  max-[1023px]:flex
  max-[1023px]:flex-col
  max-[1023px]:justify-between
  max-[1023px]:gap-8
  max-[1023px]:px-4
  max-[1023px]:py-10

  max-[1023px]:-translate-x-full;
}

.header-menu-link {
  @apply
  text-sm 
  font-medium 
  hover:opacity-50 
  active:opacity-50 
  py-2 
  transition-opacity 
  duration-150 
  ease-linear
  max-[1023px]:text-2xl
  max-[1023px]:tracking-tight;
}