@import "tailwindcss";

@theme {
  --font-sans: Manrope, sans-serif;

  --color-primary: #010205;
  --color-secondary: #878C91;
  --color-accent: #99CF63;
  --color-gray: #F0F0F0;
}

@font-face {
  font-family: "Manrope";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Manrope-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Manrope-Bold.woff2) format("woff2");
}

@layer components {
  .subtitle {
    @apply
    text-secondary 
    leading-[1.8] 
    font-medium;
  }
}

.container {
  @apply 
  mx-auto 
  px-4 
  max-w-[1302px]
  max-[1024px]:px-12
  max-[628px]:px-4;
}

.menu {
  @apply 
  max-[1024px]:top-0 
  max-[1024px]:left-0 
  max-[1024px]:fixed 
  max-[1024px]:bg-white 
  max-[1024px]:h-full
  max-[1024px]:w-[75vw]
  max-[1024px]:flex
  max-[1024px]:flex-col
  max-[1024px]:justify-between
  max-[1024px]:gap-8
  max-[1024px]:px-4
  max-[1024px]:py-10

  max-[1024px]:-translate-x-full;
}

.header-menu-link {
  @apply
  text-sm 
  font-medium 
  hover:opacity-50 
  active:opacity-50 
  py-2 
  transition-opacity 
  duration-150 
  ease-linear
  max-[1024px]:text-2xl
  max-[1024px]:tracking-tight;
}